#illustration svg{
    height: 50px;
    width: 50px;
    animation: fade 0.5s ease-out;
}

@keyframes fade {
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 375px) {
    #illustration svg{
        height: 75px;
        width: 75px;
    }
    
}